#estruturas {
    width: 1060px;

    width          : 100%;
    display        : flex;
    justify-content: space-between;

    @media(max-width: 600px) {
        display: block;
        width  : 100%;
    }
}

#estr_apresentaçao h1 {
    text-align: center;
    font-size : 30px;

    article h2 {
        font-size: 22px;
    }
}


#principal {
    width: 680px;
    article{
        margin-top: 20px;
        margin-bottom: 20px;

    }
    pre{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    ul{
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        @media(max-width:600px){
            margin-left: 0px;
        }
    }

    @media(max-width: 600px) {
        width: 100%;

        //padding-left: 10px;
        //padding-right: 10px;
        #estr_apresentaçao {
            padding-left : 10px;
            padding-right: 10px;
        }
    }
}

#asside_struturas {
    background     : rgba(196, 196, 196, 0.31);
    width          : 330px;
    color          : white;
    padding-top    : 95px;
    justify-content: space-between;

    .conteudo_asside {
        background   : #BBBBBB;
        height       : 480px;
        padding      : 10px;
        margin-bottom: 60px;


    }

    @media(max-width: 600px) {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

@media(max-width:600px) {
    #estr_Struct {
        padding-left : 10px;
        padding-right: 10px;
    }
}

pre {
    margin       : auto;
    background   : #E0E0E0;
    width        : 620px;
    border-radius: 10px;

    @media(max-width: 600px) {
        width: calc(100% - 20px);

        code {

            width: calc(100% - 20px);

        }
    }

}

#code1 {

    height: 170px;
}

#code2 {
    height: 490px;
}

///////// externo
@media(max-width: 600px) {
    .header {
        width              : 100%;
        background-position: -300px;
        padding-left       : 0px;
        padding-right      : 0px;
    }


    .conteudoPrincipal {
        width: 100%;

        section {
            width: calc(100% - 20px);
        }
    }
}

.conteudoPrincipal {
    margin-top: 40px;

}