body {
    background-color: rgb(143, 143, 143);
    margin          : 0px;

}

#slider_1 {
    background-image   : url(../images/slider_1.png);
    background-position: 356px -70px;

    h2 {
        width: 340px;
    }
}

#slider_2 {
    background-image   : url(../images/slider_2.png);
    background-position: 439px 51px;

    h2 {
        width: 520px;
    }
}

#slider_3 {

    background-image   : url(../images/slider_3.png);
    background-position: 439px 0px;

    h2 {
        width: 420px;
    }
}

.cabecalho {
    margin-top           : 0px;
    padding-left         : 40px;
    padding-right        : 40px;
    background-color     : white;
    width                : 1060px;
    height               : 650px;
    margin               : auto;
    background-repeat    : no-repeat;
    background-attachment: fixed;


    h2 {
        margin-top : 65px;
        font-style : italic;
        font-size  : 36px;
        @media(max-width: 600px){
            
            margin-top: 330px;
            margin-left: -10px;
            width: 100%;
            padding: 10px;

            background-color: rgba(0, 0, 0,0.8);
            color: white;
        }
    }

    @media(max-width:600px) {
        width: 100%;
        padding-left         : 10px;
        padding-right        : 10px;

    }
}

#navegador {
    width          : 100%;
    //display        : flex;
    justify-content: space-between;

    h1 {
        display: inline-block;
        margin-top: 0px;

        font-style     : normal;
        text-decoration: none;
        font-weight    : bold;
        font-size      : 36px;
        line-height    : 60px;
    }

    nav {
        display: inline-block;
        a {
            float          : right;
            margin-right   : 10px;
            margin-left    : 65px;
            font-style     : normal;
            text-decoration: none;
            font-weight    : bold;
            font-size      : 36px;
            line-height    : 60px;
            color          : black;
        }

        .ops_menu {
            display: block;

            @media(max-width: 600px) {
                display: none;
            }
        }

        #btn_menu {
            display: none;
            width: 35px;
            height: 35px;
            margin-right:10px ;

            @media(max-width: 600px) {
                display: block;
                float: right;
                
            }
        }

        @media(max-width:600px) {
            display: block;

        }
        @media(max-width: 600px){
            top: 15px;
            left: 10px;
            width: 100%;
            margin-left: 0px;
            position: absolute;
        }
    }

    nav:hover {
        display: block;

        @media(max-width: 600px) {
            
            #btn_menu{
                
                margin-left: 100px;
                //border-bottom: 1px solid black;
            }
            
            

            .ops_menu {
                display      : block;
                width: 100%;
                text-align: center;
                background-color: rgba(255, 255, 255,0.8);

                //margin-left: -200px;
                border-bottom: 1px solid black;
            }
        }
    }
    @media(max-width: 600px){
        position: relative;
    }


}