body {
  background-color: #8f8f8f;
  margin: 0px;
}

#slider_1 {
  background-image: url(../images/slider_1.png);
  background-position: 356px -70px;
}

#slider_1 #nuvem_h2 {
  display: block;
  width: 340px;
}

@media (max-width: 600px) {
  #slider_1 #nuvem_h2 {
    width: calc(100% - 10px);
    margin-top: 300px;
  }
}

@media (max-width: 600px) {
  #slider_1 {
    background-position: center;
  }
}

#slider_2 {
  background-image: url(../images/slider_2.png);
  background-position: 439px 51px;
}

#slider_2 #struct_h2 {
  display: block;
  width: 520px;
}

@media (max-width: 600px) {
  #slider_2 #struct_h2 {
    width: calc(100% - 10px);
    margin-top: 300px;
  }
}

@media (max-width: 600px) {
  #slider_2 {
    background-position: center;
  }
}

#slider_3 {
  background-image: url(../images/slider_3.png);
  background-position: 439px 0px;
}

#slider_3 #design_h2 {
  display: block;
  width: 420px;
}

@media (max-width: 600px) {
  #slider_3 #design_h2 {
    width: calc(100% - 10px);
    margin-top: 300px;
  }
}

@media (max-width: 600px) {
  #slider_3 {
    background-position: -100px;
  }
}

.cabecalho {
  position: relative;
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  width: 1060px;
  height: 650px;
  margin: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cabecalho h2 {
  display: none;
  margin-top: 65px;
  font-style: italic;
  font-size: 32px;
}

@media (max-width: 600px) {
  .cabecalho h2 {
    margin-left: -10px;
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
}

.cabecalho #barra {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 80px);
  height: 5px;
  border: 1px solid black;
}

.cabecalho #barra #loadBarra {
  width: 0%;
  height: 100%;
  background-color: black;
  -webkit-animation: barra 5.01s linear infinite;
          animation: barra 5.01s linear infinite;
}

@-webkit-keyframes barra {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes barra {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cabecalho #barra {
    width: calc(100% - 20px);
    bottom: 100px;
  }
}

@media (max-width: 600px) {
  .cabecalho {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
  }
}

#navegador {
  position: relative;
  width: 100%;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navegador h1 {
  display: inline-block;
  margin-top: 0px;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

#navegador nav {
  position: absolute;
  height: 70px;
  top: 0px;
  right: 0px;
  margin-top: -15px;
  display: inline-block;
}

#navegador nav a {
  float: right;
  margin-right: 10px;
  margin-left: 65px;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
  line-height: 100px;
  color: black;
}

#navegador nav .ops_menu {
  display: block;
}

@media (max-width: 600px) {
  #navegador nav .ops_menu {
    display: none;
    height: 70px;
  }
}

#navegador nav #btn_menu {
  display: none;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  #navegador nav #btn_menu {
    display: block;
    float: right;
    margin-right: 0px;
    padding-bottom: 10px;
  }
}

@media (max-width: 600px) {
  #navegador nav {
    display: block;
  }
}

@media (max-width: 600px) {
  #navegador nav {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 100%;
    margin-left: -20px;
  }
}

#navegador nav:hover {
  display: block;
}

@media (max-width: 600px) {
  #navegador nav:hover {
    /*#btn_menu {

                //margin-left: 100px;
            }*/
  }
  #navegador nav:hover .ops_menu {
    display: block;
    width: calc(100% - 10px);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -10px;
    margin-left: -20px;
    border-bottom: 1px solid black;
  }
}

@media (max-width: 600px) {
  #navegador {
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 10px;
  }
}
/*# sourceMappingURL=slider.css.map */